{% extends "layout.html" %}
{% from "field-macro.html" import displayField %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <form action="{{url_for('change_password')}}" method="post">
      <div>
        {{ form.old_pass.label }}<br>
        {{ displayField(form.old_pass, autofocus='true') }}<br>
        {{ form.new_pass.label }}<br>
        {{ displayField(form.new_pass) }}<br>
        {{ form.confirm_pass.label }}<br>
        {{ displayField(form.confirm_pass) }}<br>
      </div>
      <div>
        {{ form.save() }}
      </div>

      {{ form.csrf_token }}
    </form>
{% endblock %}
