{% extends "layout.html" %}
{% from "field-macro.html" import displayField %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <h2>Reset Your Password</h2>
  <form action="{{ url_for('reset_password', token=token) }}" method="post">
    <div>
      {{ form.new_pass.label }}<br>
      {{ displayField(form.new_pass, autofocus='true') }}<br>
      {{ form.confirm_pass.label }}<br>
      {{ displayField(form.confirm_pass) }}<br>
    </div>
    <div>
      {{ form.save() }}
    </div>

    {{ form.csrf_token }}
  </form>
{% endblock %}
